//- include ../header.jade
.dashboard(layout="column" layout-fill)
  md-toolbar
    .md-toolbar-tools
      span.app-name ToDo ME
      span(flex)
      md-button(
        ng-click="vm.addClickHandler()")
        | Add
      md-button(
        ng-click="vm.editClickHandler()"
        ng-disabled="!vm.currentTodo")
        | Edit
      md-button(
        ng-click="vm.doneClickHandler()"
        ng-disabled="!vm.currentTodo")
        | Done
      md-button(
        ng-click="vm.deleteClickHandler()"
        ng-disabled="!vm.currentTodo")
        | Delete
  //- TODO
  .loading(ng-if="vm.todoList === null") Loading...
  md-list(ng-if="vm.todoList !== null")
    md-list-item(
      ng-repeat="todo in vm.todoList"
      ng-click="vm.setCurrentItem(todo)"
      ng-class="{'done': todo.get('done'), 'active': vm.currentTodo === todo}")
      | {{todo.get('text')}}

  //- Edit dialog
  .popup(
    layout="row"
    layout-align="center center"
    aria-label="List dialog"
    ng-if="vm.editDialog.isShown")
    md-card
      md-card-header
        md-card-header-text
          .md-title {{vm.editDialog.title}}
      md-card-content
        md-input-container
          label Text
          input(
            id="text"
            type="text"
            ng-model="vm.tempEntity.text",
            required)
      md-card-actions(
        layout="row"
        layout-align="end center")
        md-button(ng-click="vm.editDialog.hide()") Cancel
        md-button.md-primary.md-raised(ng-click="vm.submitClickHandler(vm.tempEntity)") Submit