.login-page(
  layout="row"
  layout-align="center center")
  md-card
    md-card-header
      md-card-header-text
        .md-title Please enter your credentials
    md-card-content
      //- Username
      md-input-container.input
        label Username
        input(
          ng-model="vm.username"
          type="text"
          id="username"
          required)
      //- Password
      md-input-container.input
        label Password
        input(
          ng-model="vm.password"
          type="text"
          id="password"
          required)
    md-card-actions(
      layout="row"
      layout-align="end center")
      md-button.md-primary.md-raised(ng-click="vm.loginClickHandler()")
        | Login