body
  font-family 'RobotoDraft', 'Roboto', 'Helvetica', sans-serif

.popup
  position absolute
  width 100%
  height 100%
  top 0
  background-color rgba(0,0,0,0.3)
  
  .content
    background-color white

// Utils
.vertical-center-contaner
  &:before
    display inline-block
    content " "
    height 100%
    vertical-align middle

  .vertical-centered
    display inline-block
    vertical-align middle
    width 100%
