html(ng-app="to-do-me")
  head
    link(
      rel="stylesheet"
      href="libs.css")
    link(
      rel="stylesheet"
      href="app.css")
    link(
      rel="stylesheet"
      href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700"
      type="text/css")
  body(ng-controller="mainCtrl as vm")
    div(ng-view)

    script(src="libs.js")
    script(src="app.js")